* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin-top: 100px;
}

p {
  margin: 20px 180px 20px 180px;
}

/* Below this are styles for "Navigation Bar"========================> */
#homeBG {
  width: 100%;
  margin-top: 100px;
}

#SignIn-bttn {
  background-color: whitesmoke;
  color: #a3cb38;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#Apply-bttn {
  background-color: #a3cb38;
  color: whitesmoke;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

#homeLogo {
  display: block;
  float: left;
  margin-left: 110px;
  height: 50px;
  width: 230px;
  padding-right: 0px;
}

.navbar {
  display: block;
  text-align: right;
  list-style-type: none;
  background-color: whitesmoke;
  color: #274266;
  width: 100%;
  padding: 24px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  overflow: hidden;
}

.navbar ul {
  margin: 0 110px;
}

.navbar li {
  display: inline;
  padding: 10px;
  font-weight: bold;
}

.navbar a:link {
  color: #274266;
  text-decoration: #274266;
  background-color: transparent;
}

.navbar a:hover {
  color: #274266;
  text-decoration: none;
  background-color: transparent;
}

.navbar a:visited {
  color: #274266;
  text-decoration: none;
  background-color: transparent;
}

.navbar a:active {
  color: #274266;
  text-decoration: none;
  background-color: transparent;
}

/* Below this are styles for "Courses"========================> */

.coursesTag {
  color: #274266;
  text-align: center;
  padding: 100px;
}

.firstLineID {
  margin-top: -45px;
  margin-bottom: 15px;
  font-size: 50px;
}

.secondLineID {
  font-size: 20px;
}

/* Below this are styles for "Partners"========================> */

.partnerTag1 {
  color: #274266;
  text-align: center;
  padding: 100px;
}

.partnerTag1 li {
  list-style-type: ;
}

.bigText {
  font-size: 50px;
  padding: 0 30% 0 30%;
  margin-bottom: 100px;
}

.partner-box1 {
  display: inline-block;
  text-align: center;
  margin: 50px;
}

.partner-box2 {
  display: inline-block;
  text-align: center;
  margin: 50px;
}

.partner-box3 {
  display: inline-block;
  text-align: center;
  margin: 50px;
}

/* Below this are styles for "footer"========================> */

.footer {
  left: 0;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background-color: #274266;
}

.footer-icon {
  height: 20px;
  width: 20px;
  margin-right: 35px;
  margin-top: 15px;
}

.footer-logo {
  width: 85px;
  height: 28px;
}

.social-network {
  height: 25px;
  width: 25px;
  float: left;
  margin: 12.5px;
}

.bio-box1 {
  /* border: 1px solid #000; */
  font-size: 1rem;
  padding: 2%;
  width: 40%;
  height: 150px;
  flex: 1;
}

.bio-box2 {
  /* border: 1px solid #000; */
  font-size: 1rem;
  padding: 1%;
  width: 30%;
  height: 187px;
  flex: 1;
}

.bio-box3 {
  /* border: 1px solid #000; */
  font-size: 16px;
  padding: 2%;
  width: 20%;
  height: 150px;
  flex: 1;
}

.bio-box2 li {
  margin: 15px;
}

.bio-box2 div {
  display: inline;
  float: left;
  width: 50%;
}

.bio-box2 a:link {
  color: lightgray;
  text-decoration: lightgray;
  background-color: transparent;
}

.bio-box2 a:hover {
  color: lightgray;
  text-decoration: none;
  background-color: transparent;
}

.bio-box2 a:visited {
  color: lightgray;
  text-decoration: none;
  background-color: transparent;
}

.bio-box2 a:active {
  color: lightgray;
  text-decoration: none;
  background-color: transparent;
}

.bio-wrapper h3 {
  color: white;
  font-size: 16px;
}

.bio-wrapper li {
  color: lightgray;
  list-style-type: none;
}

.bio-wrapper {
  height: 230px;
  overflow: auto;
  display: flex;
  margin: 15px 130px 0 130px;
  text-align: left;
  border-bottom: rgba(150, 150, 150, 0.5) solid 1px;
}

.bio-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.bttm-cont {
  flex-grow: 1;
  width: 100%;
  color: lightgray;
  text-align: right;
}

.bttm-cont h3 {
  margin-right: 130px;
  font-size: 16px;
  font-weight: normal;
}

.ft-logo {
  display: block;
  float: left;
  height: 30.54px;
  width: 153.38px;
  margin-left: 130px;
}
