.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.container {
    height: 100px;
    background-color: aqua;
}

#homeLogo {
    display: inline-block;
    height: 30.54px;
    width: 153.38;
}